{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>本地文件检索 林之韵 金凤 王若澜</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="filer">
        <div class="top">
            <h1>Local File Retrieval Service</h1>
        </div>
        <div class="body">
            <div class="b-select">
                <p>搜索框</p>
            </div>
            <div class="b-box">
                <p>搜索结果</p>
            </div>
        </div>
    </div>
    {% comment %} <h2>File List</h2>
    <ul>
    {% for file in files %}
        <li>{{ file.folder }} / {{ file.file.name }}</li>
    {% endfor %}
    </ul> {% endcomment %}
</body>
</html>