{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>本地文件检索 林之韵 金凤 王若澜</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="filer">
        <h1>File Upload</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'file_upload' %}" name="files" class="u-but">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="u-sub">上传</button>
        </form>
        <h2>File List</h2>
        <div class="u-box">
            <table style="margin: 0 auto;">
                <tr>
                    <th style="border: 1px #81A69F dashed; line-height:40px;">文件名</th>
                </tr>
            {% for file in files %}
                <tr>
                    <td class="u-b-fname">{{ file.name }}</td>
                </tr>
            {% endfor %}
            </table> 
        </div>
        
    </div>
    <div class="filer">
        <h1>Local File Retrieval Service</h1>
        <form method="post" action="{% url 'search' %}" class="f-search">
            {% csrf_token %}
            <input type="text" name="keyword" placeholder="输入关键字" value="{{ keyword }}">
            <button type="submit">搜索</button>
        </form>

        {% for file_path in results2 %}
        <table class="f-result">
            <tr>
                <td colspan="3" class="f-s-fn">
                    {{ file_path }}
                </td>
            </tr>
            <tr class="f-s-title">
                <th class="f-s-t-ch">
                    <input type="checkbox" class="checkAll"/>
                </th>
                <th>行号</th>
                <th>包括关键字的内容行</th>
            </tr>
                {% for i in results %}
                    {% if i.path == file_path %}
                        <tr class="checkline">
                            <td>
                                <input class="rowCheckbox" type="checkbox"/>
                            </td>
                            {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
                            {% comment %} <td>{{ file_path.path }}</td> {% endcomment %}
                            <td class="f-s-b-ch">{{ i.num}}</td>
                            <td>{{ i.name}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}  
        </table>
        <button onclick="saveResults()" class="f-savetxt">保存</button>
        <!-- <li class="last" id="selectedRowText"></li> -->
    </div>
    <div class="lastaddress">
        <li>
           Local File Retrieval Service  @ Address ：<a href="https://github.com/KRayXly/FileRetrieval">github.com/KRayXly/FileRetrieval</a>
        </li>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/check.js' %}"></script>
</body>
</html>