{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>本地文件检索 林之韵 金凤 王若澜</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="filer">
        <h1>File Upload</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'file_upload' %}" name="files" class="u-but">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="u-sub">上传</button>
        </form>
        <h2>File List</h2>
        <div class="u-box">
            <table style="margin: 0 auto;">
                <tr>
                    <th>文件名</th>
                </tr>
            {% for file in files %}
                <tr>
                    <td style="max-width: 20rem;word-wrap: break-word; padding-right: 1rem; text-align: center; border-bottom: 1px solid black;">{{ file.name }}</td>
                </tr>
            {% endfor %}
            </table> 
        </div>
        
    </div>
    <div class="filer">
        <h1>Local File Retrieval Service</h1>
        <form method="post" action="{% url 'search' %}" class="f-search">
            {% csrf_token %}
            <input type="text" name="keyword" placeholder="输入关键字">
            <button type="submit">搜索</button>
            <button type="reset">重置</button>
        </form>
        <table class="f-result">
            <tr>
                <th>
                    <input type="checkbox" id="checkAll"/>
                </th>
                <th>行号</th>
                <th>包括关键字的内容行</th>
            </tr>
            {% for file_path in results %}
                <tr class="checkline">
                    <td>
                        <input type="checkbox"/>
                    </td>
                    {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
                    <td>{{ file_path }}</td>
                </tr>
            {% endfor %}
            {% for file_path2 in results2 %}
                <tr class="checkline">
                    <td>
                        <input type="checkbox"/>
                    </td>
                    {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
                    <td>{{ file_path2 }}</td>
                </tr>
            {% endfor %}
            {% for file_path3 in results3 %}
                <tr class="checkline">
                    <td>
                        <input type="checkbox"/>
                    </td>
                    {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
                    <td>{{ file_path3 }}</td>
                </tr>
            {% endfor %}
        </table>
        <li class="last" id="selectedRowText"></li>
        <!-- {% if results %}
            <form method="post" action="{% url 'save_results' %}">
                {% csrf_token %}
                <ul>
                    {% for file_path in results %}
                        <li>
                            <input type="checkbox" name="selected_files" value="{{ file_path }}">
                            {{ file_path }}
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit">保存</button>
            </form>
        {% endif %} -->
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/check.js' %}"></script>
</body>
</html>